<h2><%= @clothe.title  %></h2>
<p><%= @clothe.location %></p>
<p><%= @clothe.gender %></p>
<p><%= @clothe.description %></p>

<!-- <#%"= simple_form_for(@clothe, @booking) do |f| %>
  <%#= f.input :start_date, placeholder: "📅 From - enter your date", as: :string, required: false, label: false, input_html: {class: "datepicker input-group"}%>
  <%#= f.input :end_date, placeholder: "📅 Until - enter your date", as: :string, required: false, label: false, input_html: {class: "datepicker"} %>
  <%#= f.button :submit, "Book me", class: "btn btn-danger", id: "booking-btn" %>
<#% end %> -->
  <%= link_to "Retourner a la liste", clothes_path %>

